.sidebar  .toggle{
  position: absolute;
  top: 46px;
  right: -15px;
  transform: translateY(-50%) rotate(180deg);
  height: 30px;
  width: 30px;
  background-color:  #eee;
  color: brown;
  border :2px solid brown;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s all ease;
}

.sidebar.close ~ .main-panel{
  /* left: 78px; */
  height: 100vh;
  width: calc(100% - 93px);
}
.sidebar.close{
  width: 88px;
}
.sidebar .text,.text{
  opacity: 1;
}
.sidebar.close .text,.text{
  opacity: 0;
}
.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}
.nav-link{
  cursor:pointer;
}
