<mat-stepper
  class="example-stepper my-shadow1"
  [orientation]="(stepperOrientation | async)!"
>
  <mat-step [stepControl]="firstFormGroup" label="Fill out your name">
    <form [formGroup]="firstFormGroup">
      <div align="center">
        <button mat-button class="my-button"  matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <div align="center">
        <button  mat-button matStepperPrevious>Back</button>
        <button class="my-button"  mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Fill out your phone number">
    <form [formGroup]="thirdFormGroup">
      <div align="center">
        <button  mat-button matStepperPrevious>Back</button>
        <button class="my-button"  mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template class="my-button"  matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button  mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
