<footer class="footer">
  <div class="container-fluid">
    <div class="copyright">
      &copy;
      {{ this_year | date: "yyyy" }}, made with <i class="bx bx-heart"></i> by
      <a href="http://www.berexia.com" target="_blank">
        <img
          src="../../../assets/img/berexia_logo.png"
          width="80px"
          alt="BEREXIA"
        />
      </a>
      | <span><a href=""> Guide</a></span> -
      <span><a  target="_blank"  routerLink="/QandA"> Q & A</a></span>
    </div>

    <!-- <ul class="navbar-nav">

      <li class="nav-item fw-bolder">
        <a class="nav-link" href="#">Q&A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bolder" href="#">Guide</a>
      </li>
    </ul> -->
  </div>
</footer>
