.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.card-shadow,
.my-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.align-center {
  text-align: center;
}
.auth-card {
  padding: 30px;
  margin: 50px 0px;
  border-radius: 0px;
  background-image: url("../img/back-login.svg"),
    linear-gradient(1deg, #ffffff, #fff);
  background-size: cover, auto;
}
.bg-white {
  background-color: white;
}
.primary_back_color {
  background-color: #950101;
}
.primary_color {
  color: #950101;
}
.form-control {
  padding: 15px 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #eee;
  color: #333;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  margin-top: 4px;
}
.form-group label {
  font-weight: 500;
  font-size: 14px;
  padding: 5px 2px;
}
.form-control:hover,
.form-control:focus {
  box-shadow: inset 0 0 0 1px #ccc !important;
}
.my-primary-butt {
  height: 50px;
  padding: 0 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  border: 0;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  background-color: #950101;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  transition: background-color 100ms ease;
}
.my-primary-butt:hover {
  background-color: #ae0000;
  color: white;
}
.my-primary-butt:focus {
  box-shadow: 0px 0px 0 2px rgb(149 1 1);
  border: 3px solid white;
}
.pull-right {
  right: 0;
  left: auto;
}
footer.footer {
  margin-top: 18px;
  padding: 15px 0px;
  text-align: center;
  border-top: 1px solid #eee;
  font-size: 12px;
  font-weight: 400;
}
@media only screen and (max-width: 458px) {
  .my-primary-butt {
    height: 40px;
    font-size: 11px;
    padding: 0 28px;
    line-height: 11px;
  }
}

/* Layout Admin css */



.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar[data-background-color="black"] {
  background-color: #191919;
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  /* width: 260px; */
  z-index: 4;
  padding-bottom: 30px;
}

.sidebar .nav {
  margin-top: 20px;
  display: block;
}
.sidebar .nav li > a:hover,
.sidebar .nav li > a:focus {
  background-color: transparent;
  outline: none;
}
.sidebar .nav li:first-child > a {
  margin: 0 15px;
}
.sidebar .nav li:hover > a,
.sidebar .nav li .dropdown-menu a:hover,
.sidebar .nav li .dropdown-menu a:focus,
.sidebar .nav li.active > [data-toggle="collapse"] {
  background-color: rgba(200, 200, 200, 0.2);
  color: #3c4858;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar .nav li.active > [data-toggle="collapse"] i {
  color: #a9afbb;
}
.sidebar .nav li.active > a,
.sidebar .nav li.active > a i {
  color: #fff;
}
.sidebar .nav li.separator {
  margin: 15px 0;
}
.sidebar .nav li.separator:after {
  width: calc(100% - 30px);
  content: "";
  position: absolute;
  height: 1px;
  left: 15px;
  background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .nav li.separator + li {
  margin-top: 31px;
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}
.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}
.sidebar .nav li a,
.sidebar .nav li .dropdown-menu a {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3c4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
}
.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .sidebar-background:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #ffffff;
  opacity: 0.93;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {
  color: #fff;
}
.sidebar[data-background-color="black"] .nav .nav-item i {
  color: rgba(255, 255, 255, 0.8);
}
.sidebar[data-background-color="black"]
  .nav
  .nav-item.active
  [data-toggle="collapse"],
.sidebar[data-background-color="black"]
  .nav
  .nav-item:hover
  [data-toggle="collapse"] {
  color: #fff;
}
.sidebar[data-background-color="black"]
  .nav
  .nav-item.active
  [data-toggle="collapse"]
  i,
.sidebar[data-background-color="black"]
  .nav
  .nav-item:hover
  [data-toggle="collapse"]
  i {
  color: rgba(255, 255, 255, 0.8);
}
.sidebar[data-background-color="black"] .user a {
  color: #fff;
}
.sidebar[data-background-color="black"] .simple-text {
  color: #fff;
}
.sidebar[data-background-color="black"] .sidebar-background:after {
  background: #000;
  opacity: 0.8;
}
.sidebar[data-background-color="black"] .nav li .dropdown-menu .dropdown-item {
  color: #fff;
}
.sidebar[data-color="purple"] li.active > a {
  background-color: #9c27b0;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(156, 39, 176, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.sidebar[data-color="azure"] li.active > a {
  background-color: #00bcd4;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
.sidebar[data-color="green"] li.active > a {
  background-color: #4caf50;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 80, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.sidebar[data-color="orange"] li.active > a {
  background-color: #ff9800;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(255, 152, 0, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.sidebar[data-color="danger"] li.active > a {
  background-color: #950101;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(149 1 1 / 12%);
}

.sidebar[data-color="rose"] li.active > a {
  background-color: #e91e63;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(233, 30, 99, 0.4);
}
.sidebar[data-color="white"] li.active > a {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(255, 255, 255, 0.4);
}
.sidebar[data-color="white"]
  .nav
  .nav-item.active
  > a:not([data-toggle="collapse"]) {
  color: #3c4858;
  opacity: 1;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(60, 72, 88, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(60, 72, 88, 0.4);
}
.sidebar[data-color="white"]
  .nav
  .nav-item.active
  > a:not([data-toggle="collapse"])
  i {
  color: rgba(60, 72, 88, 0.8);
}
.sidebar[data-background-color="red"] .nav .nav-item .nav-link {
  color: #fff;
}
.sidebar[data-background-color="red"] .nav .nav-item i {
  color: rgba(255, 255, 255, 0.8);
}
.sidebar[data-background-color="red"]
  .nav
  .nav-item.active
  [data-toggle="collapse"],
.sidebar[data-background-color="red"]
  .nav
  .nav-item:hover
  [data-toggle="collapse"] {
  color: #fff;
}
.sidebar[data-background-color="red"]
  .nav
  .nav-item.active
  [data-toggle="collapse"]
  i,
.sidebar[data-background-color="red"]
  .nav
  .nav-item:hover
  [data-toggle="collapse"]
  i {
  color: rgba(255, 255, 255, 0.8);
}
.sidebar[data-background-color="red"] .user a {
  color: #fff;
}
.sidebar[data-background-color="red"] .simple-text {
  color: #fff;
}
.sidebar[data-background-color="red"] .sidebar-background:after {
  background: #f44336;
  opacity: 0.8;
}
.sidebar[data-background-color="red"] .user:after,
.sidebar[data-background-color="red"] .logo:after,
.sidebar[data-background-color="red"] .nav li.separator:after {
  background-color: rgba(255, 255, 255, 0.3);
}
.sidebar[data-background-color="red"] .nav li:hover:not(.active) > a,
.sidebar[data-background-color="red"]
  .nav
  li.active
  > [data-toggle="collapse"] {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar[data-image]:after,
.sidebar.has-image:after {
  opacity: 0.77;
}

.off-canvas-sidebar .navbar-collapse .nav > li > a,
.off-canvas-sidebar .navbar-collapse .nav > li > a:hover {
  color: #fff;
  margin: 0 15px;
}

.off-canvas-sidebar .navbar-collapse .nav > li > a:focus,
.off-canvas-sidebar .navbar-collapse .nav > li > a:hover {
  background: rgba(200, 200, 200, 0.2);
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  -webkit-transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.main-panel > .content {
  margin-top: 70px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel > .navbar {
  margin-bottom: 0;
}
.main-panel .header {
  margin-bottom: 30px;
}
.main-panel .header .title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.perfect-scrollbar-on .sidebar,
.perfect-scrollbar-on .main-panel {
  height: 100%;
  max-height: 100%;
}

.sidebar,
.main-panel,
.sidebar-wrapper {
  -webkit-transition-property: top, bottom, width;
  -webkit-transition-property: top, bottom, width;
  transition-property: top, bottom, width;
  -webkit-transition-duration: 0.2s, 0.2s, 0.35s;
  transition-duration: 0.2s, 0.2s, 0.35s;
  -webkit-transition-timing-function: linear, linear, ease;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

.visible-on-sidebar-regular {
  display: inline-block !important;
}

.visible-on-sidebar-mini {
  display: none !important;
}

@media (min-width: 991px) {
  .sidebar-mini .visible-on-sidebar-regular {
    display: none !important;
  }
  .sidebar-mini .visible-on-sidebar-mini {
    display: inline-block !important;
  }
  .sidebar-mini .sidebar,
  .sidebar-mini .sidebar .sidebar-wrapper {
    width: 80px;
  }
  .sidebar-mini .main-panel {
    width: calc(100% - 80px);
  }
  .sidebar-mini .sidebar {
    display: block;
    font-weight: 200;
    z-index: 9999;
  }
  .sidebar-mini .sidebar .logo a.logo-normal {
    opacity: 0;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  .sidebar-mini
    .sidebar
    .sidebar-wrapper
    > .nav
    [data-toggle="collapse"]
    ~ div
    > ul
    > li
    > a
    .sidebar-normal,
  .sidebar-mini
    .sidebar
    .sidebar-wrapper
    .user
    .user-info
    [data-toggle="collapse"]
    ~ div
    > ul
    > li
    > a
    .sidebar-normal,
  .sidebar-mini .sidebar .sidebar-wrapper .user .user-info > a > span,
  .sidebar-mini .sidebar .sidebar-wrapper > .nav li > a p {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    opacity: 0;
  }
  .sidebar-mini .sidebar:hover {
    width: 260px;
  }
  .sidebar-mini .sidebar:hover .logo a.logo-normal {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper {
    width: 260px;
  }
  .sidebar-mini .sidebar:hover .sidebar-wrapper > .nav li > a p,
  .sidebar-mini
    .sidebar:hover
    .sidebar-wrapper
    > .nav
    [data-toggle="collapse"]
    ~ div
    > ul
    > li
    > a
    .sidebar-normal,
  .sidebar-mini
    .sidebar:hover
    .sidebar-wrapper
    .user
    .user-info
    [data-toggle="collapse"]
    ~ div
    > ul
    > li
    > a
    .sidebar-normal,
  .sidebar-mini .sidebar:hover .sidebar-wrapper .user .user-info > a > span {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }
  .sidebar .nav .nav-item.active-pro {
    position: absolute;
    width: 100%;
    bottom: 13px;
  }
}

/* Toastr */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 65px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: 600;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  /* text-shadow: 0 1px 0 #ffffff; */
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  /* color: #000000; */
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOS4wNDMgOCA4IDExOS4wODMgOCAyNTZjMCAxMzYuOTk3IDExMS4wNDMgMjQ4IDI0OCAyNDhzMjQ4LTExMS4wMDMgMjQ4LTI0OEM1MDQgMTE5LjA4MyAzOTIuOTU3IDggMjU2IDh6bTAgMTEwYzIzLjE5NiAwIDQyIDE4LjgwNCA0MiA0MnMtMTguODA0IDQyLTQyIDQyLTQyLTE4LjgwNC00Mi00MiAxOC44MDQtNDIgNDItNDJ6bTU2IDI1NGMwIDYuNjI3LTUuMzczIDEyLTEyIDEyaC04OGMtNi42MjcgMC0xMi01LjM3My0xMi0xMnYtMjRjMC02LjYyNyA1LjM3My0xMiAxMi0xMmgxMnYtNjRoLTEyYy02LjYyNyAwLTEyLTUuMzczLTEyLTEydi0yNGMwLTYuNjI3IDUuMzczLTEyIDEyLTEyaDY0YzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MTAwaDEyYzYuNjI3IDAgMTIgNS4zNzMgMTIgMTJ2MjR6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTI1NiA4QzExOSA4IDggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDhTMzkzIDggMjU2IDh6bTEyMS42IDMxMy4xYzQuNyA0LjcgNC43IDEyLjMgMCAxN0wzMzggMzc3LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwyNTYgMzEybC02NS4xIDY1LjZjLTQuNyA0LjctMTIuMyA0LjctMTcgMEwxMzQuNCAzMzhjLTQuNy00LjctNC43LTEyLjMgMC0xN2w2NS42LTY1LTY1LjYtNjUuMWMtNC43LTQuNy00LjctMTIuMyAwLTE3bDM5LjYtMzkuNmM0LjctNC43IDEyLjMtNC43IDE3IDBsNjUgNjUuNyA2NS4xLTY1LjZjNC43LTQuNyAxMi4zLTQuNyAxNyAwbDM5LjYgMzkuNmM0LjcgNC43IDQuNyAxMi4zIDAgMTdMMzEyIDI1Nmw2NS42IDY1LjF6Jy8+PC9zdmc+");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1NzYgNTEyJyB3aWR0aD0nNTc2JyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0ncmdiKDI1NSwyNTUsMjU1KScgZD0nTTU2OS41MTcgNDQwLjAxM0M1ODcuOTc1IDQ3Mi4wMDcgNTY0LjgwNiA1MTIgNTI3Ljk0IDUxMkg0OC4wNTRjLTM2LjkzNyAwLTU5Ljk5OS00MC4wNTUtNDEuNTc3LTcxLjk4N0wyNDYuNDIzIDIzLjk4NWMxOC40NjctMzIuMDA5IDY0LjcyLTMxLjk1MSA4My4xNTQgMGwyMzkuOTQgNDE2LjAyOHpNMjg4IDM1NGMtMjUuNDA1IDAtNDYgMjAuNTk1LTQ2IDQ2czIwLjU5NSA0NiA0NiA0NiA0Ni0yMC41OTUgNDYtNDYtMjAuNTk1LTQ2LTQ2LTQ2em0tNDMuNjczLTE2NS4zNDZsNy40MTggMTM2Yy4zNDcgNi4zNjQgNS42MDkgMTEuMzQ2IDExLjk4MiAxMS4zNDZoNDguNTQ2YzYuMzczIDAgMTEuNjM1LTQuOTgyIDExLjk4Mi0xMS4zNDZsNy40MTgtMTM2Yy4zNzUtNi44NzQtNS4wOTgtMTIuNjU0LTExLjk4Mi0xMi42NTRoLTYzLjM4M2MtNi44ODQgMC0xMi4zNTYgNS43OC0xMS45ODEgMTIuNjU0eicvPjwvc3ZnPg==");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
