<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/img/select_conseil_logo.png"
        width="60px"
        alt="Select Conseil"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fw-bolder" aria-current="page" href="#"
            >Tableau du bord</a
          >
        </li>
        <li class="nav-item fw-bolder">
          <a class="nav-link" href="#">Q&A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder" href="#">Guide</a>
        </li>
      </ul> -->
    </div>
    <span class="navbar-text dropdown">
      <span class="username" (click)="handleClick()" >
        <i class="bx bx-user-pin bx-sm px-2"></i>
        <span class="name" > Ahemd CHAHBI !</span>
      </span>
      <app-dropdown
        [items]="notifications"
        id_dropdown="1"
        icon="bx-bell"
        total_badge_number="3" width_dropDown="450px" type_dropdown="notifications"
      ></app-dropdown>
      <app-dropdown
        [items]="settings_list"
        id_dropdown="2" type_dropdown="settings"
        icon="bx-cog"
      ></app-dropdown>
    </span>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </div>
</nav>

