<div class="file-upload my-shadow">
  <div class="file-upload-title">Title of Document</div>
  <hr />
  <div class="file-upload-content">
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <div class="file-upload-input">
      <div
        class="upload-event my-shadow1 primary_back_color"
        (click)="fileUpload.click()"
      >
        <i class="bx bx-upload bx-sm"></i>
      </div>
      <div style="margin: 7px">
        {{ fileName || "Aucun fichier téléchargé pour le moment." }}
      </div>
    </div>
  </div>
  <div class="file-upload-progress" *ngIf="uploadProgress">
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="uploadProgress"
    >
    </mat-progress-bar>
    {{ uploadProgress }} %
  </div>
  <div class="files" *ngIf="files">
    <li *ngFor="let item of files">
      {{ item.name }}
    </li>
  </div>
</div>
